header, footer{
  background-color: #F8F8FF;
}

footer{
  margin-top:40px;
}

.header1{
  display:none;
}

.header2{
  font-size:12px;
}

#logo{margin-left:5%;
  width:45px;
  height:45px;
}

#galka{
  width:14px;
  height:14px;
}

#greentext{
  color:green;
}

html{
  font-family: "Open Sans";
}

.btn-primary{
  background-color: green;
  color: white;
  }

  .btn-search {
	  background: #424242;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #1c1c1c;
	}
	.btn-search:link, .btn-search:visited {
	  color: #fff;
	}
	.btn-search:active, .btn-search:hover {
	  background: #1c1c1c;
	  color: #fff;
	}
  
  video{
    z-index:-1;
    min-width:100%;
    min-height:100%;
       overflow:hidden; 
  }

  #cards{
    margin-top:-40px;
  }

  h2{
    margin-top:80px;
    line-height: 60%;
    font-weight: bold;
    margin-bottom:40px;
  }

  #h2text{
    margin-top:80px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom:40px;
  }


 #cardimg{
   height:100px;
   width:100px;
   float:left;
 }

 #formGroupExampleInput{
  padding-top:30px;
}

#exampleFormControlTextarea1{
  padding-top:20px;
  padding-bottom:30px;
}

#boldText{
  font-weight: bold;
}

 .card-deck{
   margin-bottom:40px;
   padding-bottom:80px;
 }

 #reviews{
   margin-top:80px;
  background-image:url(11-32.jpg);
 }

 .card-img-overlay{
  background-color:rgba(0,0,0,.3);
   color:white;
 }
 
 #articles{
   margin-top:120px;
 }
  
 #News{
  background-image:url(field.jpg);
 }

 .bigdata{
   color:green;
   font-size:40px;
   font-weight: bold;
 }
  
 #fieldimg{
   height:100%;
   width:100%;
 }

#partnersimg{
  width:150px;
  height:150px;
}

.bg-light a{
  color:black;
}

#blablabla {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#blablabla.open {
  display: block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.5);
  transition: all 0.5s ease;
  display: none;
}

.popup_open {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  max-width: 588px;
  width: 100%;
}

.popup__wrapper {
  padding: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 800px) {
  
  
  .header1{
    display:block;
  }

  .header2{
    display:none;
  }

 }